
.HomeCarousel {
  position: relative;
  padding-top: 4rem;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
}

.HomeCarousel__container {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: orangered !important;
}

.swiper-button-next {
  color: lightgray !important;
}

.swiper-button-prev {
  color: lightgray !important;
}

.HomeCarousel__img {
  width: 100%;
  position: relative;
  object-fit: cover;
}

@media (min-width: 930px) {
  .Height {
    height: 82vh;
  }

  .Height_img {
    height: 82vh;
  }
}

@media (max-width:929px) {
  .Height_mobile {
    height: 40vh;
  }
}

@media(min-width: 1919px) {
  .Height_imgg {
    height: 84vh;
  }
}