
.HomeCarousel {
  position: relative;
  padding-top: 4rem;
}

.HomeCarousel__container {
  height: 87vh;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: orangered !important;
}

.swiper-button-next {
  color: lightgray !important;
}

.swiper-button-prev {
  color: lightgray !important;
}

.HomeCarousel__img {
  width: 100%;
  height: 86vh;
  position: relative;
  object-fit: cover;
}
