* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #fed8b1;
  box-shadow: 0 8px 6px -6px black;
  user-select: none;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  z-index: 100;
}

.NavBar__logo {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px 5px;
}

.logo {
  width: 9.3rem;
  height: 2.7rem;
  cursor: pointer;
}

.Navbar__menu ul {
  list-style: none;
}

.Navbar__menu {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 10%;
  right: 0;
}

.Navbar__menu li:hover {
  color: orangered;
}

.Navbar__menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: rgb(26, 81, 243);
}

.Navbar__menu > ul > li {
  position: relative;
  cursor: pointer;

  font-family: poppins;
  font-size: 15px;
  letter-spacing: 1px;
  float: left;
  height: 58px;
  margin-right: 40px;
  line-height: 50px;
}

.NavBar__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: start;
  top: 100%;
  align-content: center !important;
  width: 220px;
  left: -45%;
  padding: 0;
}

.NavBar__dropdown li {
  font-family: poppins;
  background: rgb(26, 81, 243);
  display: none;
  line-height: 35px !important;
  padding-left: 1rem;
  color: white !important;
  font-size: 12.5px !important;
}

.NavBar__dropdown li:hover {
  background: orangered;
  font-size: 16.5px !important;
}

.NavBar__dropdown > .long_child:hover {
  font-size: 12.5px !important;
}

.Navbar__menu li:hover > .NavBar__dropdown li {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Navbar__menu li:hover > .NavBar__dropdown {
  perspective: 1000px;
}

.Navbar__menu li:hover > .NavBar__dropdown li {
  transform-origin: top center;
  opacity: 0;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(1) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(2) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(3) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(4) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(5) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 450ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(6) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 600ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(7) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 750ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(8) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 900ms;
}

.Navbar__menu li:hover > .NavBar__dropdown li:nth-child(9) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 1050ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* .NavBar__elements {
  display: flex;
  color: rgb(26, 81, 243);
}

.NavBar__element {
  margin-right: 30px;
  font-weight: 300;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

.Navbar__menu > ul > li:hover {
  color: orangered;
} */
