* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.QuoteButton {
  position: absolute;
  align-items: center;
  justify-content: left;
  z-index: 20;
  top: 33.5%;
  margin-left: 8rem;
}

.QuoteButton__btn > img {
  width: 21%;
}

.QuoteButton__btn:focus {
  border: transparent;
}

.QuoteButton__icon {
  text-align: center;
  display: flex;
  right: 87%;
  position: absolute;
  top: -3.15rem;
  justify-content: center;
  animation: bounce 1s infinite;
  font-size: 3.75rem;
  line-height: 5rem;
  /* color: rgb(56, 97, 219); */
  color: orangered;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}
